.p-restaurant {
    max-width: 480px;
    margin: 0 auto;

		&__shopinfo {
				@include pc {
					width: 90%;
					margin: 0 auto;
				};
				@include tab {
					width: 90%;
					margin: 0 auto;
				};
				@include sp {
					width: 95%;
					margin: 0 auto;
				};

		}

		&__blog {
				@include pc {
					width: 90%;
					margin: 0 auto;
				};
				@include tab {
					width: 90%;
					margin: 0 auto;
				};
				@include sp {
					width: 95%;
					margin: 0 auto;
				};
		}



		&__share {
			text-align: center;
			margin-top: 40px;
			
		}

		&__share h3 {
			font-size: 18px;
			font-weight: bolder;
			margin-bottom: 60px;
			color: #576574;
		}


		&__btn {
			text-align: center;
			margin-bottom: 30px;
		}

		&__enquiry {
			width: 90%;
			margin: 0 auto;
		}

}

