.p-restaurant {
    max-width: 480px;
    margin: 0 auto;

		&__shopinfo {
				@include pc {
					width: 90%;
					margin: 0 auto;
				};
				@include tab {
					width: 90%;
					margin: 0 auto;
				};
				@include sp {
					width: 95%;
					margin: 0 auto;
				};

		}

		&__blog {
				@include pc {
					width: 90%;
					margin: 0 auto;
					margin-bottom: 40px;
				};
				@include tab {
					width: 90%;
					margin: 0 auto;
					margin-bottom: 40px;
				};
				@include sp {
					width: 95%;
					margin: 0 auto;
					margin-bottom: 40px;
				};
		}



		&__share {
		    margin: 0 auto;
		    width: 90%;
		    height: 130px;
		    background-color: #E2EDFA;
		    opacity: 0.9;
		    border-radius: 10px;
		    padding: 20px;
		    text-align: center;
		    margin-top: 40px;
		    margin-bottom: 40px;
		    
		}

		&__share h3 {
			font-size: 16px;
			font-weight: bolder;
			margin-bottom: 15px;
			color: #576574;
		}


		&__btn {
			text-align: center;
			margin-bottom: 30px;
		}

		&__enquiry {
			width: 90%;
			margin: 0 auto;
		}

}

