.p-top {
    max-width: 480px;
    margin: 0 auto;
    z-index: 2;




	&__search {
		margin: 40px;
	}

	&__btn {
		text-align: center;
	}

	&__news {
		margin: 0 auto;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 95%;
	}

}