.c-box {
	width: 410px;
	height: 240px;
	background-color: #222;

	&__title {
		color: #fff;
	}
	
}

.c-box-2 {
	width: 400px;
	height: 400px;
	background-color: #FF0000;

	&__title {
		color: #222;
	}
}