.btn {
  padding: 10px 60px;
  color: white;
  background-color: #E6890A;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;

  &:hover {
  	opacity: 1;
  	color: white;
  	font-weight: bold;

  }
  
}
