.header {
	&__title {
		width: 100%;
		height: 70px;
		padding: 20px 50px;
		background-color: #FF0000;
		opacity: 0.9;
		color: #fff;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		font-size: 26px;
	}

	&__sitetitle img {
		@include pc {	
			width: 30px;
			height: 30px;
			padding: 2px;
		};
		@include tab {
			width: 30px;
			height: 30px;
			padding: 2px;
		};
		@include sp {
			width: 25px;
			height: 25px;
			padding: 2px;
		};

	}

	&__sitetitle {
		@include pc {
			width: 100%;
			height: 40px;
			display: flex;
			color: #fff;
			font-size: 18px;
			padding-left: 350px;
			padding-top: 5px;
			background-color:#000000;	
		};
		@include tab {
			width: 100%;
			height: 40px;
			display: flex;
			color: #fff;
			font-size: 16px;
			padding-left: 100px;
			padding-top: 5px;
			background-color:#000000;						
		};
		@include sp {
			width: 100%;
			height: 30px;
			display: flex;
			color: #fff;
			font-size: 14px;
			padding-left: 5px;
			padding-top: 5px;	
			background-color:#000000;	
		};
	}

	&__sitetitle p {
		margin-left: 10px;

	}


}
