.kv h1 {
	@include pc {	
		color: #ffffff;
		font-size: 30px;
		text-align: center;
		padding-top: 50px;
    	padding-bottom: 25px;
		font-weight: bolder;
	};
	@include tab {
		color: #ffffff;
		font-size: 26px;
		text-align: center;
		padding-top: 40px;
    	padding-bottom: 25px;
		font-weight: bolder;
	};
	@include sp {
		color: #ffffff;
		font-size: 26px;
		text-align: left;
		padding-top: 40px;
	    padding-bottom: initial;
	    padding-left: 25px;
		font-weight: bolder;
	};


}

.kv p {
	@include pc {	
		color: #ffffff;
		font-size: 18px;
		text-align: center;
	};
	@include tab {
		color: #ffffff;
		font-size: 16px;
		text-align: center;
	};
	@include sp {
		color: #ffffff;
		font-size: 16px;
		text-align: left;
		padding: 25px;
	};


}

.kv {
	@include pc {	
    	height: 300px;
    	width: 100%;
		background-image: url('/static/images/kv-large.jpg');
	    background-size: cover;
	    background-position: center center;
	};
	@include tab {
    	height: 260px;
    	width: 100%;
		background-image: url('/static/images/kv-large.jpg');
	    background-size: cover;
	    background-position: center center;
	};
	@include sp {
    	height: 260px;
    	width: 100%;
		background-image: url('/static/images/top-sp.jpeg');
	    background-size: cover;
	    background-position: center center;
	};

}