.search-setting {
	margin: 0 auto;
	width: 95%;
	height: 220px;
	background-color: #E2EDFA;
	opacity: 0.5;
	border-radius: 10px;
	padding: 20px;


	&__title{
		font-size: 14px;
		color: #222f3e;
		padding: 10px 5px;

	}

}