.p-restaurant__share h3 {
	font-size: 16px;
	font-weight: bolder;
	margin-bottom: 60px;
	color: #576574;
}



.social-wrap {
	padding: 20px 0;
	text-align: center;
}
 
.social-wrap div {
	display: inline-block;
}
 
.fb_iframe_widget > span {
	vertical-align: baseline !important;
}